<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sobre Nosotros - Lume</title>
  <meta name="description" content="Conoce la historia de Lume: diseño, aromas y objetos hechos con mucho amor"/>
  <meta property="og:title" content="Lume - Velas y aromas para tu hogar">
  <meta property="og:description" content="Nuestra historia y filosofia: luz, calma y aromas para tu hogar.">
  <meta property="og:image" content="https://agustina-subigaray.github.io/proyectoFinal/assets/img/presentacion.jpg">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="canonical" href="https://agustina-subigaray.github.io/proyectoFinal/pages/sobre-nosotros.html">

  <script src="https://kit.fontawesome.com/0a990f3ea8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>

<body class="fondo-sobre-nosotros">
     <div class="hero-video">
    <video src="../assets/video/cozy-candle.mp4.mp4" autoplay muted loop> Tu navegador no soporta video HTML5.</video>
    </div>
  <header class="container-nav">
      <div class="logo">
        <a href="/index.html">
        <img src="{% static 'assets/img/Lume.png' %}" alt="Logo Lume" />
        </a>
      </div>

       <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="hamburguesa" aria-controls="menu" aria-label="Navegacion-principal">&#9776;</label>
      
      <nav class="menu-nav">
        <ul class="lista">
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'contacto' %}">Contacto</a></li>
          <li><a href="{% url 'inspiracion' %}">Inspiración</a></li>
          <li><a href="{% url 'sobre-nosotros' %}">Sobre Nosotros</a></li>
          <li><a href="{% url 'simulador' %}">Simulador</a></li>
          <li><a href="{% url 'carrito' %}">Carrito</a></li>
        </ul>
      </nav>
  </header>
  <main>
    <section class="hero-textoizquierda">
      <h1>Sobre Nosotros</h1>
      <p> Nuestro proyecto nació en una tarde de otoño, entre charlas, té y una vela encendida.
      Lo que comenzó como una forma de reconectar con lo simple, se transformó en un espacio creativo donde el diseño, los aromas y la calidez del hogar se encuentran.
      Cada una de nuestras piezas está pensada para acompañarte, para invitarte a bajar el ritmo y disfrutar lo cotidiano con todos los sentidos.</p>
    </p>
    </section>
  
    <section class="video-meditacion">
      <h3>Te dejamos nuestro video sobre meditacion con velas, para sentir la experiencia completa.</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NknROe6j_os?si=Y6v7IhCQqGnnCOub" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

    <section class="sobre-nosotros">
      <h2>Diseñamos experiencias que despiertan los sentidos</h2>
      <p>En Lume, cada rincón es una pausa.</p>
      <img  src="../assets/img/vela-sobre.jpg" alt="ventana con velas" />
    </section>

   
    <section class="link-inspiracion">
      <p>¿Querés ver cómo llevamos esa inspiración a cada rincón? <br />
      <a href="../pages/inspiracion.html">Explorá nuestro mundo</a> en la sección Inspiración.</p>
    </section>
 
  </main>
  <footer class="container-footer">
  <div class="div-redes">
    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://api.whatsapp.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
  </div>
    <div class="menu-pie">
      <ul class="lista">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../pages/sobre-nosotros.html">Sobre nosotros</a></li>
        <li><a href="../pages/inspiracion.html">Inspiración</a></li>
        <li><a href="../pages/blog.html">Blog</a></li>
        <li><a href="../pages/contacto.html">Contacto</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
